$es-primary-color: #297fca;
$es-primary-color-light: #f0f0f0;

// Sparc design system variables (previously from sparc-design-system-components-2)
// Primary colors
$purple: #8300BF;
$darkBlue: #24245B;
$grey: #303133;

// Secondary colors
$lightPurple: #BC00FC;
$blue: #0026FF;

// Status colors
$success: #5e9f69;
$warning: #FF8400;
$danger: #b51d09;

// Text colors
$neutralGrey: #616161;
$mediumGrey: #606266;
$lightGrey: #909399;

// Line colors
$lineColor1: #DCDFE6;
$lineColor2: #E4E7ED;

// Background colors
$background: #F5F7FA;
$cochlear: #FFFFFF;
$tooltipColor: #f3ecf6;

// Search box colors
$darkGrey: #606266;

$app-primary-color: $purple;
$app-secondary-color: $darkBlue;

$font-family: 'Asap', sans-serif;

// Viewport Sizes
$viewport-sm: 20rem;
$viewport-md: 47rem;
$viewport-lg: 64rem;
$viewport-xlg: 120rem;

// standard app colors
$gray_0: #F2F2F2;
$gray_1: #F7F7F7;
$gray_2: #e5e5e5;
$gray_3: #CCCCCC;
$gray_4: #999999;
$gray_5: #4d4d4d;
$gray_6: #333333;
$purple_1: #808fad;
$purple_2: #4d628c;
$purple_3: #011F5B;
$orange_1: #F9A23A;
$white: #ffffff;
$green_1: #17bb62;
$green_2: #14a758;
$red_1: #F25641;
$red_2: #C14D49;

$dopamine: $purple_3;
$dopamine-dark: $purple_3;
$glial: $gray_4;
$cortex: $gray_3;
$dendrite: $gray_0;
$orange: $orange_1;
$myelin: $gray_6;
$axon: $gray_1;

$text-color: $gray_5;
