@use "@/assets/scss/_variables.scss" as *;

:root body {
    --el-color-primary: #{$es-primary-color};
}

#epilepsy-science-app {
    .tab3 {
        background-color: $es-primary-color;
    }

    .tab1 {
        color: $es-primary-color;
    }

    .el-table a {
        color: $es-primary-color;
    }

    .filter-dropdown {
        color: $es-primary-color;
    }

    .help-icon {
        fill: $es-primary-color;
    }

    .el-button:not(#cookie-close-btn) {
        background: $es-primary-color;
        border: 1px solid $es-primary-color;
        color: white;
        &:hover,
        &:focus,
        &[disabled],
        &[disabled]:hover,
        &[disabled]:focus {
          background: $es-primary-color;
          border: 1px solid $es-primary-color;
          color: white;
        }

        &.secondary,
        &.secondary[disabled],
        &.secondary[disabled]:hover,
        &.secondary[disabled]:focus {
          background: $es-primary-color-light;
          border: 1px solid $es-primary-color;
          color: $es-primary-color;
        }
    }

    .el-input__inner {
        border-color: $es-primary-color;
    }

    .el-tree-node.is-checked {
        .custom-tree-node {
          color: $es-primary-color;
        }
    }

    .tab-link.active.style1, .tab-link:hover.style1 {
      border: 1px solid $es-primary-color;
      border-bottom: .125em solid $es-primary-color;
      color: $es-primary-color;
      background-color: $es-primary-color-light;
    }

    a.link1 {
      color: $es-primary-color;
    }

    .page-wrap {
      @media (min-width: 48em) {
        padding-bottom: 2em;
        padding-top: 2em;
      }
    }
}

div.el-popper.is-customized {
  background: $es-primary-color-light;
  border: 1px solid $es-primary-color;
  .el-popper__arrow:before {
    background-color: $es-primary-color-light;
    border: 1px solid $es-primary-color;
  }
}

div.el-popper.el-popover {
  background: $es-primary-color-light;
  border: 1px solid $es-primary-color;
}
